*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:black}
.main{width:960px;margin:0 auto;padding:0;background:rgb(62,24,75);overflow:hidden}
.admin{margin:0;padding:0;width:960px;background:rgb(10,0,10);font-family:fantasy;}
.admin h2{margin-top:10px;padding:10px;width:960px;background:green;color:rgb(0,60,170);font-size:25px}
.admin_header h2{margin-top:10px;padding:30px;width:960px;color:rgb(0,255,0);font-family:fantasy;
font-size:22px}
.admin_detail  {font-size:20px;font-family:cursive;overflow:hidden;margin-bottom:20px;color:rgb(0,255,255);padding:30px;font-weight:bold}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}