*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:white}
.main{width:960px;margin:0 auto;padding:0;background:rgb(47,24,26);overflow:hidden}
.contact{margin:0;padding:0;width:960px;background:rgb(10,0,10);font-family:fantasy;}
.contact h2{margin-top:10px;padding:10px;width:960px;background:green;color:rgb(0,60,170)}
.contact h3{margin-top:10px;padding:30px;width:960px;color:rgb(0,255,180);text-decoration:none;font-family:fantasy;
font-size:22px;background:rgb(100,0,180)}
.contact h4{margin-bottom:10px;padding:75px;font-size:15px;font-weight:bold;width:960px;color:rgb(0,255,0);text-decoration:none;font-family:;background:rgb(100,0,180)}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}
