.hints h2{width:800px;margin:0;overflow:hidden;background:rgb(60,0,10);
font-family:fantasy;color:rgb(0,60,170);padding:15px}
.Query{font-family:cursive;font-size:20px;font-weight:bold;padding:20px;color:rgb(0,255,0);background:rgb(62,24,75)}
.footer{overflow:hidden;color:blue;background:rgb(100,30,200);padding:10px}