*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:gray}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden;background:rgb(47,24,14)}
.maincontent h2{width:800px;margin:0;overflow:hidden;background:rgb(60,0,10);
font-family:fantasy;color:rgb(0,60,170);padding:15px}
.Query{font-family:cursive;font-size:20px;font-weight:bold;padding:20px;color:rgb(0,255,0);background:rgb(62,24,75);}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}