*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:black}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden}
.facility{width:800px;margin:0;overflow:hidden;background:rgb(62,24,75);font-size:20px}
.facility h2{width:800px;margin:0;overflow:hidden;font-family:fantasy;color:rgb(0,0,170);padding:15px}
.facility ul{list-style:none;color:rgb(0,255,180)}
.facility ul li{font-family:"Swiss 721";font-weight:bold;padding:30px}
.facility ul li p{padding:10px}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}