*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:black}
.mainpart{overflow:hidden;background:#01eded}
.mainpart1{font-size:14px;overflow:hidden;margin-top:34px;margin-bottom:34px}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}