*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:gray}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden}
.header{overflow:hidden;color:rgb(0,255,180);background:rgb(26,24,14)}
.header img{width:150px;float:left }
.header h1{margin:15px;width:650px;padding:0;font-family:"Comic Sans MS"}
.header h2{margin:50px;padding:0;float:middle;font-family:cursive}