*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:black}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden}
.homepage{width:800px;margin:0;overflow:hidden;background:magenta}
.homepage h2{width:800px;margin:0;overflow:hidden;background:rgb(60,0,10);
font-family:fantasy;color:rgb(0,60,170);padding:15px}
.homepage p{font-family:"Comic Sans MS";font-weight:bold;padding:20px;color:rgb(0,255,180);background:rgb(100,0,180)}
.footer{overflow:hidden;color:blue;background:rgb(100,30,200);padding:10px}