*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:black}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden}
.slider{width:800px;margin:0;padding:0;display:block;overflow:hidden;background:rgb(0,24,10);}
.slider img{width:250px;overflow:hidden;float:left}
.slider p{width:550px;overflow:hidden;float:right;font-family:"Comic Sans MS";color:rgb(0,255,180);font-size:15px;margin-top:10px;float:middle}
.maincontent{overflow:hidden;margin:0;padding:10px;background:rgb(62,24,75)}
.maincontent h2{background:rgb(12,24,110);font-family:fantasy;color:rgb(130,80,170);padding:15px}
.maincontent p{width:800px;font-family:cursive;color:rgb(90,135,255)}
.footer{overflow:hidden;color:white;background:rgb(100,0,180);padding:10px}