*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:gray;background:url(image/B023.jpg)}
.main{width:800px;margin:10px auto;padding:0;display:block;overflow:hidden}
.mainmenu{width:800px;margin:0;overflow:hidden;background:magenta}
.mainmenu ul{list-style:none;color:blue}
.mainmenu ul li{font-family:"Comic Sans MS";font-weight:bold;float:left;border-right:1px solid:#1111;padding:10px}
.mainmenu ul li a{text-decoration:none;margin:0;padding:5px 10px;color:rgb(0,100,200);
background:#ededed;transition:1s;
	-moz-transition:.5s;
	-webkit-transition: .5s;
	-o-transition: .5s;}
.mainmenu ul li a:visited{background:rgb(0,0,105);border-color:rgb(0,0,140);color:red;}
.mainmenu ul li a:hover{background:yellow;border-style:inset;border-color:green;color:blue;padding:3px}