*{margin:0;padding:0}
body{font-family:Arial;font-size:14px;line-height:20px;color:#000;
background:url(image/B023.jpg)}
.slider{width:800px;margin:0;padding:0;display:block;overflow:hidden;background:rgb(0,24,10);}
.slider img{width:250px;overflow:hidden;float:left}
.slider p{width:550px;overflow:hidden;float:right;font-family:"Comic Sans MS";color:rgb(0,255,180);font-size:15px;margin-top:10px;float:middle}